input.error {
    border-color: red;
    background-color:lightyellow
}
.input-feedback {
    color: red;
}
.form-Group{
    padding:10px;
}
.FormSubmit {
    /*border: solid 1px lightblue;*/
}